/* base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    background: #333;
    color: #fff;
}

body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}


a,
button,
input,
label {
    cursor: pointer;
    text-decoration: none;
}

input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #666 inset !important;
    -webkit-text-fill-color: #fff !important;
}

/* section */

.section {
    width: 100vw;
    text-align: center;
}

.section-headline {
    margin: 20px;
}

/* flex */

.flex-description {
    margin: 60px 0 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    color: #333;
    font-weight: bold;
    height: 80px;
    border-radius: 10px;
    margin: 1%;
}


.flex-1 {
    width: 23%;
}

.flex-2 {
    width: 48%;
}

.flex-3 {
    width: 14.66%;
}

/* form */

.section-form {
    background: #444;
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
}

.form-table {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-table tr {
    display: block;
    margin: 50px 0;
    width: 100%;
}

.form-table th,
.form-table td {
    display: block;
    text-align: left;
    font-size: 20px;
}

.form-table input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #666;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    caret-color: #fff; /* キャレットの色を白に設定 */
}

.button {
    font-size: 20px;
    color: #fff;
    background: #069;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 10px 0 30px;
    transition: 0.3s;
}

@media screen and (max-width:768px) {
    .form-table th,
    .form-table td {
        font-size: 16px;
    }
    
    .form-table input {
        width: 250px;
        height: 40px;
        background: #666;
        text-align: center;
        font-size: 16px;
        font-family: inherit;
        caret-color: #fff; /* キャレットの色を白に設定 */
    }
    
    .button {
        font-size: 16px;
        width: 250px;
        height: 40px;
    }
}

@media screen and (hover:hover) {
    .button:hover {
        background: #048;
        box-shadow: 0 0 25px 10px #999
    }
}

@media screen and (hover:none) {
    .button:hover {
        background: inherit;
        box-shadow: none;
    }
}

.signup-description {
    margin-bottom: 30px;
}

.signup-link {
    color: #079;
    font-weight: bold;
    font-size: 18px;
}