/* 
base
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    background: #333;
    color: #fff;
}

body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

/* 
section
 */

.section {
    width: 100vw;
    text-align: center;
}

.section-headline {
    margin: 20px;
}

/* 
flex
 */

.flex-description {
    margin: 60px 0 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    color: #333;
    font-weight: bold;
    height: 80px;
    border-radius: 10px;
    margin: 1%;
}


.flex-1 {
    width: 23%;
}

.flex-2 {
    width: 48%;
}

.flex-3 {
    width: 14.66%;
}